<div class="container">
    <partial name = "StatsPartial"/>
    <form class = "align-items-center d-flex justify-content-between">
        <input type = "submit" formaction = "Feed" formmethod = "post" class = "btn btn-outline-secondary" value = "Feed"/>
        <input type = "submit" formaction = "Play" formmethod = "post" class = "btn btn-outline-secondary" value = "Play"/>
        <input type = "submit" formaction = "Work" formmethod = "post" class = "btn btn-outline-secondary" value = "Work"/>
        <input type = "submit" formaction = "Sleep" formmethod = "post" class = "btn btn-outline-secondary" value = "Sleep"/>
    </form>
</div>


