<div class="container">
    <partial name = "StatsPartial"/>
        <form action = "restart" method = "post" class = "align-items-center d-flex justify-content-between">
            <input type = "submit" name = "restart" class = "btn btn-outline-secondary" value = "Restart?"/>
        </form>
</div>